body {
    background: url(bg.jpg) center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-color: transparent;
    margin: 0 0;
    font-size: 3rem;
}

.jumbotron h1 {
    letter-spacing: 2px;
}

.jumbotron h1, .jumbotron p {
    text-align: center;
}

label {
    text-align: center;
}


.col-xs-9 {
    padding: 8px 0;
}

#googleMap {
    width: 100%;
    height: 300px;
    margin: 10px auto;
}

#output {
    text-align: center;
    font-size: 3rem;
    margin: 1em auto;
}

.button {
    text-align: center;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}