body {
    background: url(bg.jpg) center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    background-color: transparent;
    margin: 0 0;
    padding: 10px;
    font-size: 3rem;
}

.jumbotron h1 {
    letter-spacing: 2px;
}

.jumbotron h1, .jumbotron p {
    text-align: center;
}


.col-xs-10 {
    padding: 10px 0;
}